body {
    background-image: url('../images/spirationdark.png');
    width: 100%;
    color: white;
  }
  button {
    padding: 0 2%;
    margin-left: 10%;
    margin-bottom: 15px;
  }
  h1 {
    font-size: 250%;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
  }
  .container {
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 100%;
    margin-left: 20%;
  }

  .gifs {
    display: inline-block;
    margin: 15px;
  }

  #topic-form {
    font-family: 'Luckiest Guy', cursive;
    margin-left: 30%;
    margin-bottom: 20%;
  }

  #buttonsView {
    display: inline;
  }

  #gifsView {
    display: inline;
  }

  #topic-form {
    display: inline;
  }

